body {
    height: 100%;
    background-color: #f7f7f7;
    color: black;
    text-align: center;
}

h1 {
    color: royalblue
}

.profile-image {
    width: 150px;
    height: auto;
}

.test-container {
    height: 100px;
    background-color: #e2e2e2;
    margin: 20px auto;
    width: 500px;
}

.profile-container {
    text-align: center;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    margin-top: 20px;
}